<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="container-fluid">
    <form th:action="@{/templates/login}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <div>
            <label for="remember-me">Lembrar de mim:
                <input type="checkbox" id="remember-me" name="remember-me">
            </label>
        </div>
        <input class="button" type="submit" value="Login">
    </form>
</div>
</body>
</html>